@tailwind base;
@tailwind utilities;
@tailwind variants;
@tailwind components;

@layer utilities{

    .title-services{
        position: relative;
    }
    .title-services::after{
        content: ' ';
        width: 50px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        left: 35%;
    }
    .title-services::before{
        content: ' ';
        width: 50px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        right: 35%;
    }

@media  (max-width:640px)  {
    .title-services{
        position: relative;
    }
    .title-services::after{
        content: ' ';
        width: 20px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        left: 10%;
    }
    .title-services::before{
        content: ' ';
        width: 20px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        right: 10%;
    }
}
@media  (min-width:643px) and (max-width:1020px) {
    .title-services{
        position: relative;
    }
    .title-services::after{
        content: ' ';
        width: 50px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        left: 20%;
    }
    .title-services::before{
        content: ' ';
        width: 50px;
        height: 3px;
        background-color: #e84545;
        position: absolute;
        bottom: 10px;
        right: 20%;
    }
}


.static-img{
    position: relative;
   display: grid;
   grid-template-columns: repeat(12,1fr);
    
}
.static-img .static-front{
    width: 100%;
    grid-row: 1;
    grid-column: 1/span 8;
    z-index: 2;
    /* position: absolute; */
   margin-top: 20%;
    border: 5px solid white;
    box-shadow: 2px 5px 10px black;
}
.static-img .static-back{
    width: 100%;
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 1;
    /* position: absolute; */
    top: 20%;
    right: 40%;
    border: 5px solid white;
    box-shadow: 2px 5px 10px black;

}
.img3{
    border: 5px solid white;
    box-shadow: 2px 5px 10px black;
}
.btn{
    background-color: #e84545;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.sm{
    display: flex;
    align-items: center;
}
@media  (max-width:768px) {
    .sm{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .sm2{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}


.content-card{
    position: absolute;
    bottom: -45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
}

.card-proto:hover .content-card{
    bottom: 0;
    cursor: pointer;
}
.content-card svg:hover{
    color: #e84545;
}


}